.c-app {
  text-align: center;
}

.c-button {
  background-color: #ffe600;
  border: 0;
  color: #0d2051;
  font-size: 1rem;
  padding: 1rem;
}

.c-app__header {
  background-color: #0d2051;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.c-event {
  display: flex;
  margin-bottom: 0.5rem;
}

.c-event__competitors {
  font-size: 1.2rem;
  text-align: left;
  padding-right: 1rem;
}

.c-event__score {
  font-size: 1.2rem;
}

.c-event__name {
  background-color: #0d2051;
  color: #eeeeee;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: 40%;
}

.c-market {
  width: 100%;
}

.c-market__title {
  background-color: #0d2051;
  color: whitesmoke;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 0;
}

.c-outcome {
  border-bottom: 1px solid #0d2051;
  padding: 1rem;
}

.c-outcome:hover {
  background-color: #eff4fb;
  cursor: pointer;
}

.u-mr--100 {
  margin-right: 0.5rem;
}

.u-clr--blue {
  color: #0d2051;
}

.u-clr--red {
  color: #d92231;
}
